#cv {
    padding: 20px 10px 20px 10px;
    background-color: white;
    color: black;
    max-width: 1080px;
    margin: 0px auto;
}

#cv h2 {
    text-align: left;
    float: left;
    color: #464646;
    padding-bottom: 5px;
}

.jobtitle {
    float: left;
    margin-left: 5px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.papertitle {
	font-size: 1.1em;
}

.paperlinks {
	margin-bottom: 5px;
	display: block;
}


#blurb {
    clear: both;
}

#cv h3 {
    padding-top: 6px;
    padding-bottom: 0px;
    color: #4f6b78;
    clear: both;
}

#cv hr {
    color: #1a3d4e;
    background-color: #1a3d4e;
    background: #1a3d4e;
    height: 0px;
    clear:both;
    display:block;
    border:solid 2px #1a3d4e;
}

#cv p {
    padding: 0px 0px;
    text-align: justify;
}

#cv table td {
    padding: 8px 0px;
}

#cv table td:first-child {
    color: #383838;
    font-weight: bold;
    width: 220px;
    /* padding-right: 15px; */
    vertical-align: top;
}

#cv table img {
    height: 102px;
}

#picture {
	margin-top: 20px;
    display: inline-block;
    float: right;
}

#profilePicture {
    border-radius: 50%;
    float: left;
    height: 300px;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

#text {
	margin-top: 15px;
    float: left;
    max-width: 67%;
	padding: 17px 0;
}

.article_photo{
    width: 220px; 
    text-align: center; 
    display: inline-block;
}

@media screen and (max-width: 800px) {
    #text {
        max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

#text p {
    text-align: justify;
    padding: 10px 5%;
}
a:link, a:visited {
    background-color: white;
    color: black;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
  }
  
  a:hover, a:active {
    /* background-color: black; */
    /* color: white; */
  }